<<<<<<< HEAD
.divACote {
    display: flex;
=======
header {
    height: 100svh;
    width: 100svh;
    margin: 0;
    padding: 0;
    background-image: url('images/bg_hero_desktop.svg');
>>>>>>> f8c2e6f5c032ac81747fae8af0b00a829b13b842
}