.dark-mode-container {
   position: absolute;
   top: 0;
   right: calc(40px + 0.8svw);
   width: 2rem;
}

.dark-mode {
   background-color: #333;
   color: white;
}

.dark-mode header {
   background-color: #333;
}

.dark-mode svg path {
   fill: #fff;
}

.dark-mode footer {
   background-color: white;
   color: var(--Very_Dark_Cyan);
}

.dark-mode #socials svg {
   background-color: #333;
}

.dark-mode #tel #mail #adresse {
   background-color: #333;
}

.slider {
   background-color: #ffffff2b;
   border-radius: 100px;
   padding: 1px;
   margin: 4px;
   cursor: pointer;
   transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   align-items: center;
   position: relative;
   display: block;
   width: 2rem; /*default 51px*/
   height: 1rem; /*default 29px*/
   box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset,
      rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset,
      rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
   content: "";
   display: flex;
   top: 2.3px;
   left: 2px;
   width: 0.9rem; /*default 26px*/
   height: 0.9rem; /*default 26px*/
   background-color: #e3e3e3;
   border-radius: 200px;
   position: absolute;
   box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 0.1rem 6px;
   transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
   will-change: left, background-color;
}

.switch input[type="checkbox"]:checked + .slider {
   box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset,
      #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
      rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked + .slider::after {
   left: 1.05rem;
}

.switch input[type="checkbox"] {
   display: none;
}
