/*#region Variables et Polices*/
:root {
   --Pink: hsl(322, 100%, 66%);
   --Very_Pale_Cyan: hsl(193, 100%, 96%);
   --Very_Dark_Cyan: hsl(192, 100%, 9%);
   --Grayish_Blue: hsl(208, 11%, 55%);
}

@font-face {
   font-family: "OpenSans";
   src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
   font-family: "OpenSansBold";
   src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
   font-family: "Poppins";
   src: url(../fonts/Poppins-SemiBold.ttf);
}
/*#endregion*/

body,
html {
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-family: "OpenSans";
   font-size: clamp(17px, 1.43vw, 40px);
   overflow: hidden;
}

h1,
h2,
h3 {
   font-family: "Poppins";
}

/*#region Bouton Rose*/
.boutonRose {
   padding: 18px 60px;
   border: none;
   border-radius: 50px;
   background-color: var(--Pink);
   box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
   color: var(--Very_Pale_Cyan);
   font-family: "OpenSansBold";
   font-size: clamp(0.8rem, 1.1svw, 2rem);
}
.boutonRose:hover {
   opacity: 0.7;
   cursor: pointer;
}
#anim-container-CTA {
   animation: animationBoutonRose 3s alternate;
}
/*#endregion*/

/*#region Popup*/
/* A partir d'ici pour JAVASCRIPT */
.invisible {
   display: none;
}

.visible {
   display: block;
}

#popUp {
   width: 20rem;
   height: 13rem;
   z-index: 10;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   border: 2px solid transparent;
   border-radius: 15px;
   box-shadow: 0 0 0px 5px var(--Pink);
   background-color: white;
}

#fondPopUp {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 9;
}

#submit_button {
   font-size: medium;
   border-radius: 8px;
   background-color: var(--Pink);
   margin: 8px auto;
   padding: 3px;
}

#closeButton {
   margin-left: 90%;
}

/* #errorNom,
#errorPrenom {
   font-size: smaller;
   font-weight: bold;
   color: var(--Pink);
   border: 2px solid var(--Very_Dark_Cyan);
   border-radius: 10px;
   animation: animationBoutonRose 0.5s alternate;
   position: absolute;
   top: 25%;
   left: 39%;
   background-color: var(--Very_Pale_Cyan);
   padding: 9px;
} */

#messageErreur {
   background-color: var(--Very_Pale_Cyan);
   border: 2px var(--Pink) solid;
   border-radius: 10px;
   animation: animationErreur 0.8s alternate;
}
/*#endregion*/

@keyframes animationBoutonRose {
   0% {
      transform: translateX(-500px);
   }
   100% {
      transform: translateX(0px);
   }
}

@keyframes animationPopUp {
   0% {
      transform: scale(0.5);
      opacity: 0%;
   }
   100% {
      transform: scale(1);
      opacity: 100%;
   }
}

@keyframes animationErreur {
   0% {
      transform: translateX(-500px);
      scale: (5%);
   }
   40% {
      background-color: red;
   }
   50% {
      transform: translateX(20px);
   }
   60% {
      background-color: white;
   }
   70% {
      transform: translateX(-20px);
   }
   80% {
      transform: translateX(8px);
      background-color: red;
   }
   90% {
      transform: translateX(-6px);
   }
   100% {
      transform: translateX(0px);
      scale: (100%);
      background-color: white;
   }
}
body,
html {
   overflow: auto;
}
