/*#region Variables et Polices*/
:root {
   --Pink: hsl(322, 100%, 66%);
   --Very_Pale_Cyan: hsl(193, 100%, 96%);
   --Very_Dark_Cyan: hsl(192, 100%, 9%);
   --Grayish_Blue: hsl(208, 11%, 55%);
}

@font-face {
   font-family: "OpenSans";
   src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
   font-family: "OpenSansBold";
   src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
   font-family: "Poppins";
   src: url(../fonts/Poppins-SemiBold.ttf);
}
/*#endregion*/

body,
html {
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-family: "OpenSans";
   font-size: clamp(17px, 1.43vw, 40px);
   overflow: hidden;
}

h1,
h2,
h3 {
   font-family: "Poppins";
}

/*#region Bouton Rose*/
.boutonRose {
   padding: 18px 60px;
   border: none;
   border-radius: 50px;
   background-color: var(--Pink);
   box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
   color: var(--Very_Pale_Cyan);
   font-family: "OpenSansBold";
   font-size: clamp(0.8rem, 1.1svw, 2rem);
}
.boutonRose:hover {
   opacity: 0.7;
   cursor: pointer;
}
#anim-container-CTA {
   animation: animationBoutonRose 3s alternate;
}
/*#endregion*/

/*#region Popup*/
/* A partir d'ici pour POPUP formulaire */
.invisible {
   display: none;
}

.visible {
   display: block;
}

#popUp {
   width: fit-content;
   height: fit-content;
   z-index: 10;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.239) 0 15px 60px 1px,
      rgba(0, 0, 0, 0.13) 0 5px 5px 2px;
   background-color: white;

   #nom,
   #prenom,
   #email {
      width: 70%;
   }
   label {
      text-wrap: nowrap;
      font-size: 0.8rem;
   }
   fieldset {
      border: none;
   }
   input {
      font-size: 0.6rem;
      margin-bottom: 10px;
      max-width: 60%;
   }
}

#fondPopUp {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 9;
}

#submit_button {
   border-radius: 8px;
   background-color: white;
   margin: 8px auto;
   padding: 6px;
   width: 43%;
   cursor: pointer;
   border: 2px solid var(--Pink);
   box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.051),
      3px 3px 10px 1px rgba(0, 0, 0, 0.04);

   &:hover {
      background-color: var(--Pink);
   }
}

#closeButton {
   position: absolute;
   top: 5px;
   right: 5px;
   border-radius: 15px;
   width: 35px;
   height: 35px;
   font-size: 1rem;
   cursor: pointer;
   border: none;
   background-color: #fff;

   &:hover {
      color: var(--Pink);
   }
}

#messageErreur {
   background-color: white;
   border: 2px red solid;
   border-radius: 10px;
   animation: animationErreur 0.8s alternate;
   margin: 3px;
   text-align: center;
}

/* #errorNom,
#errorPrenom {
   font-size: smaller;
   font-weight: bold;
   color: var(--Pink);
   border: 2px solid var(--Very_Dark_Cyan);
   border-radius: 10px;
   animation: animationBoutonRose 0.5s alternate;
   position: absolute;
   top: 25%;
   left: 39%;
   background-color: var(--Very_Pale_Cyan);
   padding: 9px;
} */

/* A partir d'ici pour POPUP formules/plans */
.plans-container {
   border: 1px solid black;
   border-radius: 15px;
   width: fit-content;
   display: flex;
   width: 100%;

   .plan {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 40px 0 60px;
   }
   img {
      width: 150px;
      height: 150px;
   }
}
.plan-form {
   padding: 30px;

   fieldset {
      border: 1px solid red;
      width: max-content;
      display: flex;
      justify-content: space-around;
      width: 100%;

      label {
         font-size: 1.2rem !important;
      }

      input[type="submit"] {
         font-size: 1rem !important;
         padding: 5px;
         border-radius: 10px;
         &:hover {
            background-color: var(--Pink);
         }
      }
   }
}

input[type="radio"] {
   transform: scale(1.4);
}
input[type="radio"]:checked {
   accent-color: var(--Pink);
   transform: scale(1.5);
}

#item-1-free::before {
   position: absolute;
   transform: translate(-30px, 3px);
   content: "";
   background-image: url("../images/cross-solid.svg");
   width: 1rem;
   height: 1rem;
   background-size: 100%;
}
#item-2-free,
#item-1-paid,
#item-2-paid {
   &::before {
      position: absolute;
      transform: translate(-30px, 3px);
      content: "";
      background-image: url("../images/check-solid.svg");
      width: 1rem;
      height: 1rem;
      background-size: 100%;
   }
}
/*#endregion*/

@keyframes animationBoutonRose {
   0% {
      transform: translateX(-500px);
   }
   100% {
      transform: translateX(0px);
   }
}

@keyframes animationPopUp {
   0% {
      transform: scale(0.5);
      opacity: 0%;
   }
   100% {
      transform: scale(1);
      opacity: 100%;
   }
}

@keyframes animationErreur {
   0% {
      transform: translateX(-500px);
      scale: (5%);
   }
   40% {
      background-color: red;
   }
   50% {
      transform: translateX(20px);
   }
   60% {
      background-color: white;
   }
   70% {
      transform: translateX(-20px);
   }
   80% {
      transform: translateX(8px);
      background-color: red;
   }
   90% {
      transform: translateX(-6px);
   }
   100% {
      transform: translateX(0px);
      scale: (100%);
      background-color: white;
   }
}
body,
html {
   overflow: auto;
}
