header {
   height: 100svh;
   min-height: 540px;
   font-size: clamp(17px, 1.43vw, 40px);
   background-image: url("../images/bg_hero_desktop.svg");
   background-color: var(--Very_Pale_Cyan);
   background-repeat: no-repeat;
   background-size: cover;

   #arrow-link {
      position: absolute;
      top: calc(100svh - 50px);
      left: calc(50svw - calc(clamp(30px, 2.7vw, 100px) / 2));
   }

   #arrow-image {
      fill: var(--Very_Dark_Cyan);
      width: clamp(30px, 2.7vw, 100px);
      opacity: 80%;
      cursor: pointer;

      animation: heroArrow 2s infinite;
      animation-fill-mode: forwards;
   }
}

h1 {
   font-size: clamp(1.4rem, 3vw, 4rem);
   margin: 0;
}

/*#region Top Bar*/
/*Logo and call to action container*/
#logo-calltoaction-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 15svh;
   padding: 10px 4rem;

   /*logo*/
   .svg-logo-container {
      #huddle-logo {
         position: relative;
         top: 60px;
         left: 0px;
      }
   }
   #language {
      position: absolute;
      top: 0;
      right: 4px;

      img {
         width: calc(15px + 0.8rem);
      }
   }
}
#button-calltoaction-top {
   padding: 0.9rem 3.6rem;
   max-height: 100svh;
   text-wrap: nowrap;
   border: none;
   border-radius: 50px;
   background-color: white;
   color: black;
   font-family: "OpenSansBold";
   font-size: clamp(0.8rem, 1.1svw, 2rem);
   box-shadow: 0px 3px 12px 1px rgba(128, 128, 128, 0.15);
   cursor: pointer;
}
#button-calltoaction-top:hover {
   opacity: 0.7;
   cursor: pointer;
} /*#endregion*/

/*Main content container for the header*/
.header-content-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 2rem;
   max-height: min-content;
   min-height: fit-content;

   .left-text-hero {
      flex: 1;
      padding: 2rem 3rem 2rem 2rem;
      letter-spacing: -1px;
   }
   #header-content-image-container {
      text-align: center;
      padding: 0 2rem 0 0;
      flex: 1.3;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   /*Main image in the hero page content*/
   img {
      width: 100%;
      max-height: 45svw;
      animation: animationImage 3s alternate;
   }
   p {
      margin: 2rem 0;
   }
}

@media screen and (max-width: 790px) {
   #logo-calltoaction-container {
      height: 4rem;
      padding: 12px 15px 5px 15px;

      /*logo*/
      .svg-logo-container {
         width: 100px;
         #huddle-logo {
            transform: scale(clamp(0.2, 0.5, 2));
            left: -4rem;
            top: 2rem;
         }
      }
   }
   #button-calltoaction-top {
      padding: 0.5rem 1rem;
   }
   .header-content-container {
      min-height: 90svh;
      max-height: min-content;
      flex-direction: column;
      text-align: center;
      padding: 1rem;

      .left-text-hero {
         padding: 0 1rem;
         display: flex;
         flex: 1;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .boutonRose {
            max-width: 250px;
            padding: 0.7rem 3rem;
         }
      }
      #header-content-image-container {
         flex: 1;
         padding: 0 2rem 2rem 2rem;
      }
      img {
         padding: 0.5rem;
      }
   }
   header {
      min-height: 643px;
      background-image: url("../images/bg_hero_mobile.svg");

      #arrow-link {
         position: absolute;
         top: clamp(613px, 93%, 95%);
         left: calc(50svw - calc(clamp(30px, 2.7vw, 100px) / 2));
      }
   }
   #popUp {
      min-width: 330px;
      width: fit-content;
      height: fit-content;;
   }
   .plans-container {
      flex-direction: column;

      img {
         width: 100px;
         height: 100px;
      }
      .plan {
         margin: 0 40px;
         text-align: center;
         p {
            margin: 0;
         }
      }
   }
   .plan-form  {
      flex-direction: row;
      text-wrap: nowrap;
      padding: 0;
      fieldset {
         flex-direction: column;
         width: max-content;
      }
   }
}
@media screen and (min-width: 1980px) {
   .svg-logo-container {
      position: relative;
      top: 2rem;
      left: 4rem;
   }
   #huddle-logo {
      transform: scale(2);
   }
}

@keyframes heroArrow {
   0%,
   100% {
      transform: translateY(7px);
      scale: 100%;
   }
   50% {
      transform: translateY(-7px);
      scale: 120%;
   }
}

@keyframes animationImage {
   0% {
      transform: translateX(500px);
      scale: (5%);
   }
   100% {
      transform: translateX(0px);
      scale: (100%);
   }
}
